DATABASE_URL=postgres://postgres:postgres@db:5432/makeup_store
ADMIN_PASSWORD=admin123
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dc4axfctg
CLOUDINARY_API_KEY=444278565467859
CLOUDINARY_API_SECRET=IW_jc6VlJx9IVuPeyw7-QqLAC-0
